body {
 font-family: 'Cardo', serif;
 background-color: #484d5c;
 color: #c0ccd4;
 line-height: 80%;
 font-size: small;
}

h1, h2, h3, h4, h5, h6 {
 font-family: 'Oswald', sans-serif;
 text-transform: uppercase;
 color: #ffce00;
}
