<!DOCTYPE html>
<html lang="en">

  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link href="httpr://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <body>
    <a href="."><i class="material-icons">refresh</i></a>
    <h1> {{ word }} </h1>
    {% for item in aud %}
    <br>
    <audio controls>
      <source src={{ item }} type="audio/wav">
    </audio>
    {% endfor %}
    <br>
    {% for item in define %}
      <br><b style="color: white">{{ ' '.join(item.split()[0]) }}</b>   <p style="display:inline; line-height:1.5">{{ ' '.join(item.split()[1:]) }}</p>
    {% endfor %}
    <br>
    {% for item in thes %}
      <br><b style="color: white">{{ ' '.join(item.split()[0]) }}</b>   <p style="display:inline; line-height:1.5">{{ ' '.join(item.split()[1:]) }}</p>
    {% endfor %}
    <br>
    {% for item in sent %}
      <br><b style="color: white">{{ ' '.join(item.split()[0]) }}</b>   <p style="display:inline; line-height:1.5">{{ ' '.join(item.split()[1:]) }}</p>
    {% endfor %}
  </body>

</html>
